h2, h3{
    color: white;
}

form{
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    label{
        color: var(--clear);
    }
    input, select{
        width: 100%;
    }
    #img{
        color: var(--clear);
        font-weight: bolder;
    }
    button{
        margin-inline: auto;
        &:hover{
            cursor: pointer;
        }
    }
}
.rep-prod-cont{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;

}
.rep-prod, .rep-ord{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    color: black;
    text-align: center;
    padding: 1rem;
    border-radius: 25px;
    min-height: 13rem;
    span{
        position: relative;
    }
    #id:before{
        content: "BORRAR";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        background-color: white;
        display: none;
    }
    #id:hover:before{
        display: block;
        color: red;
        font-weight: bolder;
        cursor: pointer;
    }
    #price{
     &:before{
        content: "$";
     }
     &:after{
        content: "EDITAR";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        color: green;
        background-color: white;
        font-weight: bolder;
        display: none;
    }
    &:hover:after{
        display: block;
        cursor: pointer;
    }
    }
    #title{
        &:after{
           content: "EDITAR";
           position: absolute;
           left: 0;
           right: 0;
           top: 0;
           width: 100%;
           color: green;
           background-color: white;
           font-weight: bolder;
           display: none;
       }
       &:hover:after{
           display: block;
           cursor: pointer;
       }
    }
    button{
        margin: auto;
    }
}